<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
     <link rel="stylesheet" type="text/css" href="{% static "css/display.css" %}">
    <meta charset="UTF-8">
    <title>Display</title>
</head>
<body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<br><br><h1 align="Center">Predicted digit is {{ ans }}</h1><br>
<div id="container"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
    Highcharts.chart('container', {
        chart: {type: 'column'},
        title: {text: 'Probabilities of Digits'},
        xAxis: {categories: ['Digits']},
        series: [{name: 'Zero',
            data: [{{ zero }}]}, {
            name: 'One',
            data: [{{ one }}]}, {
            name: 'Two',
            data: [{{two}}]}, {
            name: 'Three',
            data: [{{three}}]}, {
            name: 'Four',
            data: [{{four}}]}, {
            name: 'Five',
            data: [{{five}}]}, {
            name: 'Six',
            data: [{{six}}]}, {
            name: 'Seven',
            data: [{{seven}}]}, {
            name: 'Eight',
            data: [{{eight}}]}, {
            name: 'Nine',
            data: [{{nine}}]}]});</script>
<form method="post" action="/">{% csrf_token %}<button type="submit" class="btn btn-2" >Home</button></form></body></html>